#### Google Palm LLM & API key setup

In [1]:
import os
from langchain.chains import create_sql_query_chain
from langchain_google_genai import GoogleGenerativeAI
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from sqlalchemy import create_engine, text
from sqlalchemy.exc import ProgrammingError
from langchain_community.utilities import SQLDatabase
import google.generativeai as genai
import pymysql
import logging

c:\Users\hossa\.conda\envs\genai\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# import tensorflow as tf

# if tf.config.list_physical_devices('GPU'):
#     print("GPU is being used")
# else:
#     print("Running on CPU")

In [3]:
# with tf.device('/GPU:0'):
#     a = tf.constant([1, 2, 3])
#     print(a.device)  # Should include "GPU"

In [4]:
logging.basicConfig(level=logging.DEBUG)

api_key = 'AIzaSyBiZ6Hx2av8lRNQCSSZXbUpykwi_Lpmbvc'

llm = GoogleGenerativeAI(model="gemini-pro", google_api_key=api_key)

In [5]:
# response = llm.invoke("Write a poem about dr yunus in bangla")

# print(response)

#### Connect with database and ask some basic questions

In [6]:
db_user = "root"
db_password = "8888S88h"
db_host = "localhost"
db_name = "atliq_tshirts"

In [7]:
engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

db = SQLDatabase(engine, sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Black	M	38	20
2	Levi	White	M	39	95
3	Nike	Red	XL	10	49
*/

In [8]:
db_chain = create_sql_query_chain(llm, db)

In [9]:
def query_ans(response):
    clean_query = response.strip("```sql").strip("```").strip()
    print(f"Query: {clean_query}")
    
    try:
        engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")
        with engine.connect() as conn:
            result = conn.execute(text(clean_query)).fetchone()  
            
            if result and result[0] is not None:
                # print(f"result: {result}")
                # print(f"result[0]: {result[0]}")
                answer = str(result[0])
                print(f"Answer: {answer}")
                return answer
            else:
                return "No result found"
    except pymysql.MySQLError as e:
        error_msg = f"Error executing query: {e}"
        print(error_msg)
        return error_msg

In [10]:
qns1 = "How many t-shirts do we have left for Nike in extra small size and white color?" 
response = db_chain.invoke({"question": qns1})

In [11]:
clean_query = response.strip("```sql").strip("```").strip()

clean_query

"SELECT \n    `stock_quantity`\nFROM\n    `t_shirts`\nWHERE\n    `brand` = 'Nike'\nAND\n    `color` = 'White'\nAND\n    `size` = 'XS';"

In [12]:
query_ans(response)

Query: SELECT
    `stock_quantity`
FROM
    `t_shirts`
WHERE
    `brand` = 'Nike'
AND
    `color` = 'White'
AND
    `size` = 'XS';
Answer: 12

'12'

In [13]:
qns2 = "How much is the price of the inventory for all small size t-shirts?"
response = db_chain.invoke({"question": qns2})

query_ans(response)

Query: SELECT SUM(`price` * `stock_quantity`) AS `total_price`
FROM `t_shirts`
WHERE `size` = 'S';
Answer: 20382

'20382'

In [14]:
qns3 = "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'"
response = db_chain.invoke({"question": qns3})

query_ans(response)

Query: SELECT SUM(`price`*`stock_quantity`) FROM `t_shirts` WHERE `size` = 'S';
Answer: 20382

'20382'

In [15]:
qns4 = "If we have to sell all the Leviâ€™s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?"
response = db_chain.invoke({"question": qns4})

query_ans(response)

Query: SELECT SUM(ROUND(`t_shirts`.`price` * `discounts`.`pct_discount` / 100, 2)) AS TotalRevenue
FROM `t_shirts`
JOIN `discounts` ON `t_shirts`.`t_shirt_id` = `discounts`.`t_shirt_id`
WHERE `t_shirts`.`brand` = 'Levi'
AND `t_shirts`.`size` = 'M';
Answer: 14.55

'14.55'

Above, it returned a wrong query which generated an error during query execution. It thinks discount
table would have start and end date which is normally true but in our table there is no start or end date column.
One thing we can do here is run the query directly.

In [16]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

response = db_chain.invoke({"question": sql_code})

query_ans(response)

Query: select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
Answer: 26941.750000

'26941.750000'

It produced a correct answer when explicit query was given. 17462 is the total revenue without discounts. The total discount is 736.6. Hence revenue post discount is 17462-736.6=16725.4

Now this is not much interesting because what is the point of giving it the ready made query? Well, we will use this same query later on for few shot learning

In [17]:
qns5 = "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'"
response = db_chain.invoke({"question": qns5})

query_ans(response)

Query: SELECT SUM(`price` * `stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi'
Answer: 28237

'28237'

In [18]:
qns6 = "How many white color Levi's t shirts we have available?"
response = db_chain.invoke({"question": qns6})

query_ans(response)

Query: SELECT COUNT(*) AS `num_white_levis`
FROM t_shirts
WHERE `brand` = 'Levi' AND `color` = 'White';
Answer: 4

'4'

Once again above is the wrong answer. We need to use SUM(stock_quantity). Let's run the query explicitly. We will use the result of this query later on in the notebook

In [19]:
qns7 = "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'"
response = db_chain.invoke({"question": qns7})

query_ans(response)

Query: SELECT SUM(`stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi' AND `color` = 'White';
Answer: 269

'269'

#### Few shot learning

We will use few shot learning to fix issues we have seen so far

In [55]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns1},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns2},
    {'Question': "If we have to sell all the Leviâ€™s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': qns3} ,
     {'Question' : "If we have to sell all the Leviâ€™s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns4},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns5
     },
    {'Question': "How much is the price of all white color levi t shirts?",
     'SQLQuery' : "SELECT sum(price*stock_quantity) from t_shirts where brand = 'Levi' and color='White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns6
     }
]

### Creating Semantic Similarity Based example selector

- create embedding on the few_shots
- Store the embeddings in Chroma DB
- Retrieve the the top most Semantically close example from the vector store

In [56]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain_community.embeddings import HuggingFaceEmbeddings  # Updated import
from langchain.vectorstores import Chroma

# Initialize the embeddings
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

print("Embeddings initialized successfully!")

INFO:sentence_transformers.SentenceTransformer:Use pytorch device_name: cpu
INFO:sentence_transformers.SentenceTransformer:Load pretrained SentenceTransformer: sentence-transformers/all-MiniLM-L6-v2
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /sentence-transformers/all-MiniLM-L6-v2/resolve/main/modules.json HTTP/1.1" 200 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /sentence-transformers/all-MiniLM-L6-v2/resolve/main/config_sentence_transformers.json HTTP/1.1" 200 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /sentence-transformers/all-MiniLM-L6-v2/resolve/main/README.md HTTP/1.1" 200 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /sentence-transformers/all-MiniLM-L6-v2/resolve/main/modules.json HTTP/1.1" 200 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /sentence-transformers/all-MiniLM-L6-v2/resolve/main/sentence_bert_config.json HTTP/1.1" 200 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /sentence-transformers/all-MiniLM-L6-v2/resolve/main/adapter_config.json HTTP/1.1" 404 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /sentence-transformers/all-MiniLM-L6-v2/resolve/main/config.json HTTP/1.1" 200 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /sentence-transformers/all-MiniLM-L6-v2/resolve/main/tokenizer_config.json HTTP/1.1" 200 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "GET /api/models/sentence-transformers/all-MiniLM-L6-v2/revision/main HTTP/1.1" 200 6768
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "GET /api/models/sentence-transformers/all-MiniLM-L6-v2 HTTP/1.1" 200 6768

Embeddings initialized successfully!

In [57]:
to_vectorize = [" ".join(example.values()) for example in few_shots]

In [58]:
to_vectorize

["How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query How many white color Levi's shirt I have?",
 "How much is the total price of the inventory for all S-size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL query How much is the price of the inventory for all small size t-shirts?",
 "If we have to sell all the Leviâ€™s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)? SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n  Result of the SQL query How much is the price of all white color levi t shirts?",
 "If we have to sell all the Leviâ€™s T-shirts today. How much revenue our store will generate without discount? SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi' Result of the SQL query If we have to sell all the Nikeâ€™s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?",
 "How many white color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White' Result of the SQL query If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?",
 "How much is the price of all white color levi t shirts? SELECT sum(price*stock_quantity) from t_shirts where brand = 'Levi' and color='White' Result of the SQL query How much revenue  our store will generate by selling all Van Heuson TShirts without discount?"]

In [59]:
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

DEBUG:chromadb.api.segment:Collection langchain already exists, returning existing collection.

In [60]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'Answer': 'How many t-shirts do we have left for Nike in extra small size and white color?',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': "How many white color Levi's shirt I have?",
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'}]

In [61]:
### my sql based instruction prompt
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Answer: Final answer here

No pre-amble.
"""

In [62]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

### Setting up PromptTemplete using input variables

In [63]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [64]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [65]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [66]:
new_chain = create_sql_query_chain(llm, db, prompt=few_shot_prompt)

In [67]:
qns1 = "How many white color Levi's shirt I have?"
response = new_chain.invoke({"question": qns1})

query_ans(response)

DEBUG:urllib3.connectionpool:https://us.i.posthog.com:443 "POST /batch/ HTTP/1.1" 200 15

Query: SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
Answer: 269

'269'

Now this is working ok. Previously for this same question it was giving wrong answer because it did not use SUM clause around stock_quantity column

In [68]:
qns2 = "How much is the price of the inventory for all small size t-shirts?"
response = new_chain.invoke({"question": qns2})

query_ans(response)

Query: SELECT sum(`price`*`stock_quantity`) AS `total_price`
FROM `t_shirts`
WHERE `size` = 'S';
Answer: 20382

'20382'

In [69]:
qns3 = "How much is the price of all white color levi t shirts?"   # problem

query_ans(response)

Query: SELECT sum(`price`*`stock_quantity`) AS `total_price`
FROM `t_shirts`
WHERE `size` = 'S';
Answer: 20382

'20382'

In [ ]:
qns4 = "If we have to sell all the Nikeâ€™s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?"
response = new_chain.invoke({"question": qns4})

query_ans(response)

Query: SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
Answer: 17425.000000

'17425.000000'

In [ ]:
qns5 = "If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?"
response = new_chain.invoke({"question": qns5})

query_ans(response)

Query: SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Van Huesen'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
Answer: 21969.500000

'21969.500000'

In [37]:
qns6 = "How much revenue  our store will generate by selling all Van Heuson TShirts without discount?"
response = new_chain.invoke({"question": qns6})

query_ans(response)

Query: SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen'
Answer: 22642

'22642'

In [39]:
qns7 = "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'"
response = new_chain.invoke({"question": qns7})

query_ans(response)

Query: SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
Answer: 20382

'20382'